container_commands:
  01_create_static_dir:
    command: "mkdir -p /var/app/current/staticfiles"
    leader_only: true
  02_collectstatic:
    command:". /var/app/venv/staging-LQM1lest/bin/activate && python /var/app/current/manage.py collectstatic --noinput --settings backend.settings"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static