container_commands:
  01_debug:
    command: "env"
  02_debug2:
    command: "python /var/app/current/manage.py shell"
    leader_only: true
  03_collectstatic:
    command: "python /var/app/current/manage.py collectstatic --noinput"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static