container_commands:
  01_debug:
    command: "env"
  02_collectstatic:
    command: python /var/app/staging/manage.py collectstatic --settings backend.settings”
    leader_only: true
  03_debug2:
    command: python /var/app/staging/manage.py shell”
    leader_only: true


option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static